<div class="header">
  <div class="headerCenter">

    <div class="logoHeader">
      <a class="logo" href="main.html"><img src="img/logo.png" alt=""></a>
    </div>

    <div class="searchHeader">
      <div class="borderLupa">
        <img src="img/lupa1.png" alt="" style="margin-top:1.5px;margin-left:4px;">
        <form>
          <input  id="inputHeader" type="search" onclick="changeColor()" placeholder="Search" autocomplete="off">
        </form>
      </div>
      <div class="hiddenSearchMenu">
        <a class="hiddenSearchMenuLink" href="#">
          <span class="linkPhoto"><img id="friendCellPhoto" src = 'img/ava.jpg' width='35px' height='35px'></span>
          <span class="linkText">
            <div class="linkTextName">
              <span class="linkTextNametext">Yan Morozov</span>
            </div>
          </span>
        </a>
        <a class="hiddenSearchMenuLink" href="#">
          <span class="linkPhoto"><img id="friendCellPhoto" src = 'img/ava.jpg' width='35px' height='35px'></span>
          <span class="linkText">
            <div class="linkTextName">
              <span class="linkTextNametext">Yan Morozov</span>
            </div>
          </span>
        </a>
        <a class="hiddenSearchMenuLink" href="#">
          <span class="linkPhoto"><img id="friendCellPhoto" src = 'img/ava.jpg' width='35px' height='35px'></span>
          <span class="linkText">
            <div class="linkTextName">
              <span class="linkTextNametext">Yan Morozov</span>
            </div>
          </span>
        </a>
      </div>
    </div>

    <div class="bellHeader" onclick="imgbell()">
      <img id="swichbells" src="img/blackbell.png" alt="">
      <div class="events">
        <div class="eventsTop">
          <span style="color:black; font-weight:bold;" >Your Page</span>
          <div class="dot"></div>
          <a href="#">Managed pages</a>
          <a href="#" style="float:right;">settings</a>
        </div>
        <a class="eventsMiddle" href="#">
          <span class="eventsPhoto"><img id="friendCellPhoto" src = 'img/ava.jpg' width='40px' height='40px'></span>
          <span class="eventsText">
            <div class="eventsTextName">
              <span class="eventsTextNametext">Yan Morozov</span>
            </div>
          </span>
        </a>
        <a class="eventsMiddle" href="#">
          <span class="eventsPhoto"><img id="friendCellPhoto" src = 'img/ava.jpg' width='40px' height='40px'></span>
          <span class="eventsText">
            <div class="eventsTextName">
              <span class="eventsTextNametext">Yan Morozov</span>
            </div>
          </span>
        </a>

        <a class="eventsBottom" href="#">Show all</a>

      </div>
    </div>
    <div class="headPlayer">
    </div>

    <a>
      <div class="headMenu" onclick="headMenu()">

        <div class="headMenuName">
          <strong style="color:white;padding:10px;">Yan</strong>
        </div>
        <div class="headMenuPhoto">
          <img src="img/ava.jpg" alt="" width="28" height="28" style="border-radius:20px;">
        </div>
        <div class="headMenuArrow">
          <div class="headMenuArrow1">
          </div>
        </div>
      </a>

      <div class="hiddenMenu" ontouchstart="event.cancelBuble = true" onmousedown="event.cancelBuble = true">
        <a class="hiddenMenuA" href="#" style="padding: 0 15px;">My profile</a>
        <div class="hrm"></div>
        <a class="hiddenMenuA" href="#" style="padding: 0 15px;">Edit</a>
        <a class="hiddenMenuA" href="#" style="padding: 0 15px;">Settings</a>
        <a class="hiddenMenuA" href="#" style="padding: 0 15px;">Support</a>
        <div class="hrm"></div>
        <a class="hiddenMenuA" href="#" style="padding: 0 15px;">Log out</a>
      </div>
    </div>

  </div>
</div>
